
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Translator</title>
    <link rel="stylesheet" href="static\homestyle.css">
</head>
<body>
    <div class="container">
        <h1>Sign Language Translator</h1>
        <div class="button-container">
            <button onclick="window.location.href='signToText'">Sign to Text Conversion</button>
            <button onclick="window.location.href='texttosign'">Text to Sign Conversion</button> 
        </div>
    </div>
</body>
</html>