body {
    background-color: #e0e0e0; /* Baby Blue Background */
    height: 100vh; /* Full viewport height */
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack items vertically */
}

.container {
    text-align: center; /* Center text inside the container */
}

#video-feed {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
}
